Repository maticzav/label-sync: changes, and which Codecov flags are due for each by the changed paths.
All: label-sync-core, create-label-sync

chore(deps): update dependency @types/node to v12.7.3
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.9
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

chore(deps): update dependency husky to v3.0.4
  package.json
  yarn.lock
Due: none

chore(deps): update dependency jest to v24.9.0
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.10
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

chore(deps): update dependency lerna to v3.16.4
  package.json
  yarn.lock
Due: none

chore(deps): update dependency rimraf to v2.7.1
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.11
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

chore(deps): update dependency tslint to v5.19.0
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.12
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

chore(deps): update dependency typescript to v3.6.2
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.13
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

chore(deps): update dependency husky to v3.0.5
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/node to v12.7.4
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.14
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

fix(deps): update dependency inquirer to v7
  packages/create-label-sync/package.json
  yarn.lock
Due: create-label-sync

v2.3.15
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
Due: create-label-sync

Update dependency tslint to v5.20.0
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.16
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

Update dependency typescript to v3.6.3
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.17
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

Update dependency @types/node to v12.7.5
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.18
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

Update dependency ts-jest to v24.1.0
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.19
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

Update dependency codecov to v3.6.0
  package.json
  yarn.lock
Due: none

Path conditions:
  label-sync-core: any of: packages/label-sync-core/
  create-label-sync: any of: packages/create-label-sync/
