Repository maticzav/label-sync: changes, and which Codecov flags are due for each by the changed paths.
All: label-sync-core, create-label-sync

v2.3.54
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

Update dependency ts-node to v8.5.4
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.55
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

Update dependency typescript to v3.7.3
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.56
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

Update dependency @types/node to v12.12.15
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.57
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

Update dependency @types/node to v12.12.16
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.58
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

:bug: emma starters config
  emma.yml
Due: none

Update dependency @types/node to v12.12.17
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.59
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

:sparkles: sync
  server/src/configuration.ts
  server/src/github.ts
  server/src/handlers/labels.ts
  server/src/handlers/labels/analysis.ts
  server/src/handlers/labels/github.ts
  server/src/handlers/labels/index.ts
  server/src/handlers/labels/labels.ts
  server/src/handlers/labels/reporter.ts
  server/src/handlers/labels/sync.ts
  server/src/index.ts
Due: none

:sparkles: onboarding
  server/src/github.ts
  server/src/index.ts
Due: none

Update dependency @types/node to v12.12.18
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.60
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

Update dependency @types/node to v12.12.20
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.61
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

Update dependency @types/jest to v24.0.24
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.62
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

:sparkles: cli
  packages/label-sync/package.json
  packages/label-sync/src/bin.ts
  packages/label-sync/src/configurable.ts
  packages/label-sync/src/data/language.ts
  packages/label-sync/src/fs.ts
  packages/label-sync/src/generator.ts
  packages/label-sync/src/index.ts
  packages/label-sync/src/utils.ts
  packages/label-sync/src/yaml.ts
  packages/label-sync/tests/__fixtures__/labelsync.ts
  packages/label-sync/tests/__fixtures__/test.repos.ts
  packages/label-sync/tests/bin.test.ts
  server/package.json
  server/src/configuration.ts
  server/src/index.ts
  server/src/types.ts
  server/tsconfig.json
  tsconfig.json
  yarn.lock
Due: none

Update dependency typescript to v3.7.4
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.63
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

Update dependency @types/node to v12.12.21
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.64
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

Update dependency chalk to v3
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

Update dependency meow to v6
  packages/create-label-sync/package.json
  yarn.lock
Due: create-label-sync

Update dependency tslint-config-standard to v9
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

Update dependency update-notifier to v4
  packages/create-label-sync/package.json
  yarn.lock
Due: create-label-sync

Path conditions:
  label-sync-core: any of: packages/label-sync-core/
  create-label-sync: any of: packages/create-label-sync/
