Repository maticzav/label-sync: changes, and which Codecov flags are due for each by the changed paths.
All: label-sync-core, create-label-sync

Update dependency @types/inquirer to v6
  packages/create-label-sync/package.json
  yarn.lock
Due: create-label-sync

Update dependency @types/jest to v24
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

Update dependency @types/ora to v3
  packages/create-label-sync/package.json
  yarn.lock
Due: create-label-sync

Update dependency husky to v3
  package.json
  yarn.lock
Due: none

Update dependency jest to v24
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

Update dependency probot to v9
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core

Update dependency ts-jest to v24
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

Update dependency ts-node to v8
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

Update dependency update-notifier to v3
  packages/create-label-sync/package.json
  yarn.lock
Due: create-label-sync

feat: Support rate limits
  .circleci/config.yml
  README.md
  examples/with-typescript/package.json
  examples/with-typescript/src/index.ts
  examples/with-typescript/tsconfig.json
  examples/with-typescript/yarn.lock
  package.json
  packages/create-label-sync/package.json
  packages/create-label-sync/tests/index.test.ts
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

chore: CircleCI setup
  .circleci/config.yml
Due: none

v2.2.0
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

chore(deps): pin dependency @types/lodash.uniq to 4.5.6
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core

fix: yarn.lock
  yarn.lock
Due: none

fix: lodash.uniq import
  packages/label-sync-core/src/manifest.ts
Due: label-sync-core

fix: drop lodash dependency
  packages/label-sync-core/package.json
  packages/label-sync-core/src/manifest.ts
  packages/label-sync-core/tsconfig.json
  yarn.lock
Due: label-sync-core

v2.2.1
  CHANGELOG.md
  lerna.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core

fix: issue_number deprecation fix
  packages/label-sync-core/src/handlers/siblings/siblings.ts
Due: label-sync-core

v2.2.2
  CHANGELOG.md
  lerna.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core

feat: Unify reports of multiple handlers
  packages/label-sync-core/src/handlers/labels/reporter.ts
  packages/label-sync-core/src/handlers/siblings/reporter.ts
  packages/label-sync-core/src/tools/ci/reporter.ts
  packages/label-sync-core/tests/handlers/labels/__snapshots__/reporter.test.ts.snap
  packages/label-sync-core/tests/handlers/siblings/__snapshots__/reporter.test.ts.snap
  packages/label-sync-core/tests/tools/ci/__snapshots__/reporter.test.ts.snap
Due: label-sync-core

v2.3.0
  CHANGELOG.md
  lerna.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core

fix: Skip add labels call when no siblings need to be added to the issue
  packages/label-sync-core/src/handlers/siblings/siblings.ts
  packages/label-sync-core/tests/tools/ci/sync.test.ts
Due: label-sync-core

v2.3.1
  CHANGELOG.md
  lerna.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core

fix: Make clearer reports
  packages/label-sync-core/src/handlers/labels/reporter.ts
  packages/label-sync-core/src/handlers/siblings/reporter.ts
  packages/label-sync-core/tests/handlers/labels/__snapshots__/reporter.test.ts.snap
  packages/label-sync-core/tests/handlers/labels/reporter.test.ts
  packages/label-sync-core/tests/handlers/siblings/__snapshots__/reporter.test.ts.snap
  packages/label-sync-core/tests/tools/ci/__snapshots__/reporter.test.ts.snap
Due: label-sync-core

v2.3.2
  CHANGELOG.md
  lerna.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core

fix: Make clearer reports
  packages/label-sync-core/src/handlers/siblings/reporter.ts
  packages/label-sync-core/tests/handlers/siblings/__snapshots__/reporter.test.ts.snap
Due: label-sync-core

v2.3.3
  CHANGELOG.md
  lerna.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core

fix: Make clearer reports
  packages/label-sync-core/src/handlers/siblings/reporter.ts
  packages/label-sync-core/tests/tools/ci/__snapshots__/reporter.test.ts.snap
Due: label-sync-core

v2.3.4
  CHANGELOG.md
  lerna.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core

fix: Make clearer reports
  packages/label-sync-core/src/tools/ci/reporter.ts
  packages/label-sync-core/tests/tools/ci/__snapshots__/reporter.test.ts.snap
Due: label-sync-core

v2.3.5
  CHANGELOG.md
  lerna.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core

Add quotes and hash to issue output
  packages/label-sync-core/src/handlers/siblings/reporter.ts
Due: label-sync-core

ran `yarn test -u`, snapshot got updated
  packages/label-sync-core/tests/handlers/siblings/__snapshots__/reporter.test.ts.snap
Due: label-sync-core

v2.3.6
  CHANGELOG.md
  lerna.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core

chore(deps): update dependency @types/jest to v24.0.18
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.7
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

chore(deps): update dependency @types/inquirer to v6.5.0
  packages/create-label-sync/package.json
  yarn.lock
Due: create-label-sync

v2.3.8
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
Due: create-label-sync

Path conditions:
  label-sync-core: any of: packages/label-sync-core/
  create-label-sync: any of: packages/create-label-sync/
