Repository maticzav/label-sync: changes, and which Codecov flags are due for each by the changed paths.
All: label-sync-core, create-label-sync

Update dependency ts-node to v8.4.1
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.20
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

Update dependency codecov to v3.6.1
  package.json
  yarn.lock
Due: none

Update dependency @types/node to v12.7.7
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.21
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

Update dependency @types/node to v12.7.8
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.22
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

Update dependency @types/node to v12.7.9
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.23
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

Update dependency husky to v3.0.8
  package.json
  yarn.lock
Due: none

Update dependency lerna to v3.16.5
  package.json
  yarn.lock
Due: none

Update dependency @types/node to v12.7.11
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.24
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

Update dependency @types/node to v12.7.12
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.25
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

Update dependency typescript to v3.6.4
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.26
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

Update dependency lerna to v3.17.0
  package.json
  yarn.lock
Due: none

Update dependency husky to v3.0.9
  package.json
  yarn.lock
Due: none

Update dependency rimraf to v3
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

v2.3.27
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

Update dependency ora to v4
  packages/create-label-sync/package.json
  yarn.lock
Due: create-label-sync

v2.3.28
  CHANGELOG.md
  lerna.json
  packages/create-label-sync/CHANGELOG.md
  packages/create-label-sync/package.json
Due: create-label-sync

Update dependency pretty-quick to v2
  package.json
  yarn.lock
Due: none

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

cleanup, start working again
  package.json
  packages/label-sync-cli/package.json
  packages/label-sync-core/package.json
  packages/label-sync-create/package.json
  server/package.json
  server/prisma/datamodel.prisma
  server/prisma/prisma.yml
  server/src/generated/nexus-prisma/datamodel-info.ts
  server/src/generated/nexus-prisma/index.ts
  server/src/generated/nexus-prisma/nexus-prisma.ts
  server/src/generated/nexus.ts
  server/src/generated/prisma-client/index.ts
  server/src/generated/prisma-client/prisma-schema.ts
  server/src/generated/schema.graphql
  server/src/graphql/index.ts
  server/src/graphql/resolvers/Mutation.ts
  server/src/graphql/resolvers/Query.ts
  server/src/graphql/resolvers/index.ts
  server/src/index.ts
  server/src/types.ts
  server/src/webhooks/github/hooks.ts
  yarn.lock
Due: label-sync-core

get build up
  .gitignore
  package.json
  packages/label-sync-cli/src/index.ts
  packages/label-sync-cli/tsconfig.json
  packages/label-sync-core/src/handlers/labels/labels.ts
  server/src/webhooks/github/hooks.ts
  server/tsconfig.json
  yarn.lock
Due: label-sync-core

add node version file
  .nvmrc
Due: none

Path conditions:
  label-sync-core: any of: packages/label-sync-core/
  create-label-sync: any of: packages/create-label-sync/
