Repository maticzav/label-sync: changes, and which Codecov flags are due for each by the changed paths.
All: label-sync-core, label-sync, create-label-sync

codecov.yml:

coverage:
  status:
    project:
      default: off
      label-sync-core:
        target: 100%
        flags: label-sync-core
      label-sync:
        target: 100%
        flags: label-sync
      create-label-sync:
        target: 100%
        flags: create-label-sync

flags:
  label-sync-core:
    paths:
      - packages/label-sync-core/
  label-sync:
    paths:
      - packages/label-sync/
  create-label-sync:
    paths:
      - packages/create-label-sync/

remove label-sync - legacy
  .gitignore
  .vscode/launch.json
  packages/label-sync-core/src/index.ts
  packages/label-sync/README.md
  packages/label-sync/jest.config.js
  packages/label-sync/package.json
  packages/label-sync/src/bin.ts
  packages/label-sync/src/bot.ts
  packages/label-sync/src/config.ts
  packages/label-sync/src/github.ts
  packages/label-sync/src/index.ts
  packages/label-sync/src/manager.ts
  packages/label-sync/src/schema.json
  packages/label-sync/src/tests/__fixtures__/config/common.js
  packages/label-sync/src/tests/__fixtures__/config/graphql-shield.js
  packages/label-sync/src/tests/__fixtures__/labels.config.js
  packages/label-sync/src/tests/__fixtures__/labels.config.json
  packages/label-sync/src/tests/__fixtures__/labels.invalid.config.json
  packages/label-sync/src/tests/__fixtures__/labels.no-branch.config.json
  packages/label-sync/src/tests/bot.test.ts
  packages/label-sync/src/tests/config.test.ts
  packages/label-sync/src/tests/github.test.ts
  packages/label-sync/src/tests/manager.test.ts
  packages/label-sync/src/tests/utils.test.ts
  packages/label-sync/src/tests/validation.test.ts
  packages/label-sync/src/utils.ts
  packages/label-sync/tsconfig.json
  packages/label-sync/tslint.json
  yarn.lock
Due: label-sync-core, label-sync

codecov
  codecov.yml
Due: none

v2.0.0
  lerna.json
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
Due: label-sync-core, create-label-sync

log
  packages/label-sync-core/src/handlers/siblings/siblings.ts
Due: label-sync-core

v2.0.1
  lerna.json
  packages/label-sync-core/package.json
Due: label-sync-core

add tests, reduce pagination count
  packages/label-sync-core/src/github.ts
  packages/label-sync-core/src/tools/ci/reporter.ts
  packages/label-sync-core/tests/github.test.ts
  packages/label-sync-core/tests/tools/ci/__snapshots__/reporter.test.ts.snap
  packages/label-sync-core/tests/tools/ci/reporter.test.ts
Due: label-sync-core

v2.0.2
  lerna.json
  packages/label-sync-core/package.json
Due: label-sync-core

add dryrun, siblings fix
  packages/label-sync-core/src/handlers/siblings/siblings.ts
  packages/label-sync-core/tests/handlers/siblings/siblings.test.ts
Due: label-sync-core

v2.0.3
  lerna.json
  packages/label-sync-core/package.json
Due: label-sync-core

bug fixes and improvements
  packages/label-sync-core/src/handlers/labels/reporter.ts
  packages/label-sync-core/src/handlers/siblings/reporter.ts
  packages/label-sync-core/tests/handlers/labels/__snapshots__/reporter.test.ts.snap
  packages/label-sync-core/tests/handlers/siblings/__snapshots__/reporter.test.ts.snap
  packages/label-sync-core/tests/tools/ci/__snapshots__/reporter.test.ts.snap
Due: label-sync-core

v2.0.4
  lerna.json
  packages/label-sync-core/package.json
Due: label-sync-core

fix colors
  packages/label-sync-core/src/handlers/labels/reporter.ts
  packages/label-sync-core/src/handlers/siblings/reporter.ts
  packages/label-sync-core/tests/handlers/labels/__snapshots__/reporter.test.ts.snap
  packages/label-sync-core/tests/handlers/siblings/__snapshots__/reporter.test.ts.snap
  packages/label-sync-core/tests/tools/ci/__snapshots__/reporter.test.ts.snap
Due: label-sync-core

v2.0.5
  lerna.json
  packages/label-sync-core/package.json
Due: label-sync-core

Update dependency lerna to v3.13.1
  package.json
  yarn.lock
Due: none

next
  action/Dockerfile
  action/entrypoint.sh
  action/package.json
  lerna.json
  package.json
  packages/label-sync-core/package.json
  packages/label-sync/jest.config.js
  packages/label-sync/package.json
  packages/label-sync/src/index.ts
  packages/label-sync/tsconfig.json
  yarn.lock
Due: label-sync-core, label-sync

label-sync-create
  packages/label-sync-create/README.md
  packages/label-sync-create/jest.config.js
  packages/label-sync-create/package.json
  packages/label-sync-create/src/index.ts
  packages/label-sync-create/src/templates.ts
  packages/label-sync-create/tests/index.test.ts
  packages/label-sync-create/tsconfig.json
  packages/label-sync-create/tslint.json
Due: none

label-sync
  packages/label-sync/package.json
  packages/label-sync/src/index.ts
  packages/label-sync/tslint.json
  yarn.lock
Due: label-sync

fix lerna, monorepo
  .vscode/settings.json
  codecov.yml
  jest.config.js
  lerna.json
  package.json
  packages/label-sync-cli/README.md
  packages/label-sync-cli/package.json
  packages/label-sync-cli/src/index.ts
  packages/label-sync-cli/tsconfig.json
  packages/label-sync-cli/tslint.json
  packages/label-sync-core/jest.config.js
  packages/label-sync-core/package.json
  packages/label-sync-core/tests/github.test.ts
  packages/label-sync-core/tests/handlers/labels/labels.test.ts
  packages/label-sync-core/tests/handlers/siblings/sync.test.ts
  packages/label-sync-create/package.json
  packages/label-sync-create/src/index.ts
  packages/label-sync-create/tests/index.test.ts
  packages/label-sync-create/tsconfig.json
  packages/label-sync/jest.config.js
  packages/label-sync/src/index.ts
  packages/label-sync/tsconfig.json
  tsconfig.json
  yarn.lock
Due: label-sync-core, label-sync

fix build process
  package.json
  packages/label-sync-cli/package.json
  packages/label-sync-core/package.json
  packages/label-sync-core/tslint.json
  packages/label-sync-create/README.md
  packages/label-sync-create/package.json
  packages/label-sync-create/tslint.json
  scripts/build.js
  tslint.json
  yarn.lock
Due: label-sync-core

started working on server
  package.json
  packages/label-sync-cli/src/index.ts
  packages/label-sync-cli/src/types.d.ts
  packages/label-sync-cli/tests/__fixtures__/test.repos.ts
  packages/label-sync-cli/tsconfig.json
  server/README.md
  server/package.json
  server/prisma/datamodel.prisma
  server/prisma/prisma.yml
  server/src/generated/nexus-prisma/datamodel-info.ts
  server/src/generated/nexus-prisma/index.ts
  server/src/generated/nexus-prisma/nexus-prisma.ts
  server/src/generated/prisma-client/index.ts
  server/src/generated/prisma-client/prisma-schema.ts
  server/src/index.ts
  server/src/resolvers/Query.ts
  server/src/resolvers/index.ts
  server/src/types.ts
  server/tsconfig.json
  yarn.lock
Due: none

comments
  server/package.json
  server/prisma/datamodel.prisma
  server/src/generated/nexus.ts
  server/src/generated/schema.graphql
  server/src/index.ts
  yarn.lock
Due: none

datamodel modifications, dropping stripe, probot
  now.json
  server/package.json
  server/prisma/datamodel.prisma
  server/src/generated/nexus-prisma/datamodel-info.ts
  server/src/generated/nexus-prisma/nexus-prisma.ts
  server/src/generated/nexus.ts
  server/src/generated/prisma-client/index.ts
  server/src/generated/prisma-client/prisma-schema.ts
  server/src/generated/schema.graphql
  server/src/graphql/index.ts
  server/src/graphql/resolvers/Mutation.ts
  server/src/graphql/resolvers/Query.ts
  server/src/graphql/resolvers/index.ts
  server/src/webhooks/hooks.ts
  server/src/webhooks/index.ts
  server/tests/__fixtures__/events/purchase.ts
  server/tests/graphql/index.test.ts
  server/tests/webhooks/index.test.ts
  yarn.lock
Due: none

Update dependency husky to v2
  package.json
  yarn.lock
Due: none

feat: Add skipSiblingSync option
  lerna.json
  packages/label-sync-core/src/tools/ci/reporter.ts
  packages/label-sync-core/src/tools/ci/sync.ts
  packages/label-sync-core/tests/tools/ci/__snapshots__/reporter.test.ts.snap
  packages/label-sync-core/tests/tools/ci/__snapshots__/sync.test.ts.snap
  packages/label-sync-core/tests/tools/ci/reporter.test.ts
  packages/label-sync-core/tests/tools/ci/sync.test.ts
Due: label-sync-core

chore: Lerna confirmation
  package.json
Due: none

identify user before release
  .circleci/config.yml
Due: none

npm login step
  .circleci/config.yml
Due: none

fixes
  .circleci/config.yml
Due: none

v2.1.0
  CHANGELOG.md
  lerna.json
  packages/label-sync-core/CHANGELOG.md
  packages/label-sync-core/package.json
Due: label-sync-core

Update dependency @types/inquirer to v0.0.44
  packages/create-label-sync/package.json
  yarn.lock
Due: create-label-sync

Update dependency @types/jest to v23.3.14
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

Update dependency @types/node to v10.14.10
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

Update dependency codecov to v3.5.0
  package.json
  yarn.lock
Due: none

Update dependency lerna to v3.15.0
  package.json
  yarn.lock
Due: none

Update dependency prettier to v1.18.2
  package.json
  yarn.lock
Due: none

Update dependency pretty-quick to v1.11.1
  package.json
  yarn.lock
Due: none

Update dependency tslint to v5.18.0
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

Update dependency tslint-config-prettier to v1.18.0
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync

Update dependency typescript to v3.5.2
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  yarn.lock
Due: label-sync-core, create-label-sync
