Repository maticzav/label-sync: changes, and which Codecov flags are due for each by the changed paths.
All: label-sync-core, label-sync, create-label-sync

codecov.yml:

coverage:
  status:
    project:
      default: off
      label-sync-core:
        target: 100%
        flags: label-sync-core
      label-sync:
        target: 100%
        flags: label-sync
      create-label-sync:
        target: 100%
        flags: create-label-sync

flags:
  label-sync-core:
    paths:
      - packages/label-sync-core/
  label-sync:
    paths:
      - packages/label-sync/
  create-label-sync:
    paths:
      - packages/create-label-sync/

coverage, automation
  README.md
  package.json
  yarn.lock
Due: none

Pin dependencies
  package.json
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  packages/label-sync/package.json
  yarn.lock
Due: label-sync-core, label-sync, create-label-sync

Update dependency typescript to v3.2.2
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  packages/label-sync/package.json
  yarn.lock
Due: label-sync-core, label-sync, create-label-sync

Update dependency lerna to v3.6.0
  package.json
  yarn.lock
Due: none

repository links
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  packages/label-sync/package.json
Due: label-sync-core, label-sync, create-label-sync

v1.0.3
  lerna.json
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  packages/label-sync/package.json
Due: label-sync-core, label-sync, create-label-sync

fix labels pagination
  package.json
  packages/label-sync-core/src/labels.ts
  packages/label-sync-core/src/tests/labels.test.ts
  packages/label-sync/src/github.ts
Due: label-sync-core, label-sync

v1.0.4
  lerna.json
  packages/label-sync-core/package.json
  packages/label-sync/package.json
Due: label-sync-core, label-sync

fix: ignore non-configurable keys in label definition
  packages/label-sync-core/src/labels.ts
  packages/label-sync-core/src/tests/labels.test.ts
Due: label-sync-core

v1.0.5
  lerna.json
  packages/label-sync-core/package.json
  packages/label-sync/package.json
Due: label-sync-core, label-sync

chore(deps): update dependency @types/node to v10.12.14
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  packages/label-sync/package.json
  yarn.lock
Due: label-sync-core, label-sync, create-label-sync

chore(deps): update dependency @types/node to v10.12.15
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  packages/label-sync/package.json
  yarn.lock
Due: label-sync-core, label-sync, create-label-sync

chore(deps): update dependency husky to v1.2.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency tslint to v5.12.0
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  packages/label-sync/package.json
  yarn.lock
Due: label-sync-core, label-sync, create-label-sync

chore(deps): update dependency husky to v1.3.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/node to v10.12.17
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  packages/label-sync/package.json
  yarn.lock
Due: label-sync-core, label-sync, create-label-sync

chore(deps): update dependency @types/node to v10.12.18
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  packages/label-sync/package.json
  yarn.lock
Due: label-sync-core, label-sync, create-label-sync

chore(deps): update dependency lerna to v3.7.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency lerna to v3.7.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency lerna to v3.8.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/ora to v1.3.5
  packages/create-label-sync/package.json
  yarn.lock
Due: create-label-sync

chore(deps): update dependency husky to v1.3.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/jest to v23.3.11
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  packages/label-sync/package.json
  yarn.lock
Due: label-sync-core, label-sync, create-label-sync

chore(deps): update dependency lerna to v3.8.1
  package.json
  yarn.lock
Due: none
