Repository maticzav/label-sync: changes, and which Codecov flags are due for each by the changed paths.
All: label-sync-core, label-sync, create-label-sync

chore(deps): update dependency rimraf to v2.6.3
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  packages/label-sync/package.json
  yarn.lock
Due: label-sync-core, label-sync, create-label-sync

chore(deps): update dependency lerna to v3.8.4
  package.json
  yarn.lock
Due: none

chore(deps): update dependency lerna to v3.8.5
  package.json
  yarn.lock
Due: none

v1.0.6
  lerna.json
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  packages/label-sync/package.json
Due: label-sync-core, label-sync, create-label-sync

chore(deps): update dependency @types/jest to v23.3.12
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  packages/label-sync/package.json
  yarn.lock
Due: label-sync-core, label-sync, create-label-sync

chore(deps): update dependency lerna to v3.9.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency lerna to v3.10.2
  package.json
  yarn.lock
Due: none

chore(deps): update dependency lerna to v3.10.3
  package.json
  yarn.lock
Due: none

chore(deps): update dependency tslint to v5.12.1
  packages/create-label-sync/package.json
  packages/label-sync-core/package.json
  packages/label-sync/package.json
  yarn.lock
Due: label-sync-core, label-sync, create-label-sync

chore(deps): update dependency lerna to v3.10.5
  package.json
  yarn.lock
Due: none

label sync bot
  packages/label-sync-core/jest.config.js
  packages/label-sync-core/package.json
  packages/label-sync-core/src/bot.ts
  packages/label-sync-core/src/handlers.ts
  packages/label-sync-core/src/index.ts
  packages/label-sync-core/src/labels.ts
  packages/label-sync-core/src/reporters.ts
  packages/label-sync-core/src/tests/__fixtures__/webhook.ts
  packages/label-sync-core/src/tests/bot.test.ts
  packages/label-sync-core/src/tests/labels.test.ts
  packages/label-sync-core/src/tests/utils.test.ts
  packages/label-sync-core/src/utils.ts
  packages/label-sync-core/tsconfig.json
  packages/label-sync/src/config.ts
  yarn.lock
Due: label-sync-core, label-sync

add bot tests
  packages/label-sync-core/src/bot.ts
  packages/label-sync-core/src/tests/__fixtures__/webhook.ts
  packages/label-sync-core/src/tests/bot.test.ts
Due: label-sync-core

add bot tests, add opinionated bot
  packages/label-sync/src/bot.ts
  packages/label-sync/src/config.ts
  packages/label-sync/src/index.ts
  packages/label-sync/src/manager.ts
  packages/label-sync/src/tests/bot.test.ts
Due: label-sync

deadcode
  packages/label-sync-core/src/bot.ts
Due: label-sync-core

siblings
  packages/label-sync-core/package.json
  packages/label-sync-core/src/bot.ts
  packages/label-sync-core/src/config.ts
  packages/label-sync-core/src/github.ts
  packages/label-sync-core/src/handlers.ts
  packages/label-sync-core/src/labels.ts
  packages/label-sync-core/src/reporters.ts
  packages/label-sync-core/src/siblings.ts
  packages/label-sync/src/bin.ts
  packages/label-sync/src/config.ts
  packages/label-sync/src/github.ts
  packages/label-sync/src/manager.ts
  packages/label-sync/src/tests/bin.test.ts
  packages/label-sync/src/tests/utils.test.ts
  packages/label-sync/src/utils.ts
  packages/label-sync/tsconfig.json
  yarn.lock
Due: label-sync-core, label-sync

siblings rc
  packages/label-sync-core/src/handlers.ts
  packages/label-sync-core/src/labels.ts
  packages/label-sync-core/src/reporters.ts
  packages/label-sync-core/src/siblings.ts
  packages/label-sync-core/src/utils.ts
Due: label-sync-core

wrap
  packages/label-sync-core/src/bot.ts
  packages/label-sync-core/src/handlers.ts
  packages/label-sync-core/src/reporters.ts
Due: label-sync-core

reporters
  packages/label-sync-core/package.json
  packages/label-sync-core/src/bot.ts
  packages/label-sync-core/src/config.ts
  packages/label-sync-core/src/github.ts
  packages/label-sync-core/src/handlers.ts
  packages/label-sync-core/src/reporters.ts
  packages/label-sync-core/tsconfig.json
  packages/label-sync/package.json
  yarn.lock
Due: label-sync-core, label-sync

exports
  packages/label-sync-core/src/bot.ts
  packages/label-sync-core/src/handlers.ts
  packages/label-sync-core/src/index.ts
  packages/label-sync-core/src/tests/config.test.ts
  packages/label-sync-core/src/tests/github.test.ts
  packages/label-sync-core/src/tests/handlers.test.ts
  packages/label-sync-core/src/tests/siblings.test.ts
Due: label-sync-core

tests
  packages/label-sync-core/src/config.ts
  packages/label-sync-core/src/github.ts
  packages/label-sync-core/src/handlers.ts
  packages/label-sync-core/src/reporters.ts
  packages/label-sync-core/src/siblings.ts
  packages/label-sync-core/src/tests/config.test.ts
  packages/label-sync-core/src/tests/github.test.ts
  packages/label-sync-core/src/tests/handlers.test.ts
  packages/label-sync-core/src/tests/index.test.ts
  packages/label-sync-core/src/tests/labels.test.ts
  packages/label-sync-core/src/tests/siblings.test.ts
  packages/label-sync-core/src/tests/utils.test.ts
Due: label-sync-core

move tests out of src
  packages/label-sync-core/jest.config.js
  packages/label-sync-core/tests/__fixtures__/webhook.ts
  packages/label-sync-core/tests/__snapshots__/reporters.test.ts.snap
  packages/label-sync-core/tests/bot.test.ts
  packages/label-sync-core/tests/config.test.ts
  packages/label-sync-core/tests/github.test.ts
  packages/label-sync-core/tests/handlers.test.ts
  packages/label-sync-core/tests/index.test.ts
  packages/label-sync-core/tests/labels.test.ts
  packages/label-sync-core/tests/reporters.test.ts
  packages/label-sync-core/tests/siblings.test.ts
  packages/label-sync-core/tests/utils.test.ts
  packages/label-sync-core/tsconfig.json
Due: label-sync-core

tools and handlers, tests
  packages/label-sync-core/src/github.ts
  packages/label-sync-core/src/handlers.ts
  packages/label-sync-core/src/handlers/labels/index.ts
  packages/label-sync-core/src/handlers/labels/labels.ts
  packages/label-sync-core/src/handlers/labels/reporter.ts
  packages/label-sync-core/src/handlers/labels/sync.ts
  packages/label-sync-core/src/handlers/siblings/index.ts
  packages/label-sync-core/src/handlers/siblings/reporter.ts
  packages/label-sync-core/src/handlers/siblings/siblings.ts
  packages/label-sync-core/src/handlers/siblings/sync.ts
  packages/label-sync-core/src/index.ts
  packages/label-sync-core/src/manifest.ts
  packages/label-sync-core/src/siblings.ts
  packages/label-sync-core/src/tools/bot/index.ts
  packages/label-sync-core/src/tools/sync/index.ts
  packages/label-sync-core/src/tools/sync/reporter.ts
  packages/label-sync-core/tests/__fixtures__/bot/webhook.ts
  packages/label-sync-core/tests/__fixtures__/github.ts
  packages/label-sync-core/tests/__fixtures__/manifest.ts
  packages/label-sync-core/tests/bot.test.ts
  packages/label-sync-core/tests/github.test.ts
  packages/label-sync-core/tests/handlers.test.ts
  packages/label-sync-core/tests/handlers/labels/labels.test.ts
  packages/label-sync-core/tests/handlers/labels/sync.test.ts
  packages/label-sync-core/tests/handlers/siblings/siblings.test.ts
  packages/label-sync-core/tests/handlers/siblings/sync.test.ts
  packages/label-sync-core/tests/index.test.ts
  packages/label-sync-core/tests/manifest.test.ts
  packages/label-sync-core/tests/siblings.test.ts
  packages/label-sync-core/tests/tools/bot.test.ts
  packages/label-sync-core/tests/tools/sync/reporters.test.ts
Due: label-sync-core

ci, tests
  packages/label-sync-core/src/config.ts
  packages/label-sync-core/src/handlers/labels/index.ts
  packages/label-sync-core/src/handlers/labels/reporter.ts
  packages/label-sync-core/src/handlers/siblings/index.ts
  packages/label-sync-core/src/index.ts
  packages/label-sync-core/src/manifest.ts
  packages/label-sync-core/src/tools/bot/index.ts
  packages/label-sync-core/src/tools/ci/config.ts
  packages/label-sync-core/src/tools/ci/index.ts
  packages/label-sync-core/src/tools/ci/reporter.ts
  packages/label-sync-core/src/tools/ci/sync.ts
  packages/label-sync-core/src/tools/sync/index.ts
  packages/label-sync-core/src/tools/sync/reporter.ts
  packages/label-sync-core/src/types.ts
  packages/label-sync-core/tests/__snapshots__/reporters.test.ts.snap
  packages/label-sync-core/tests/tools/ci/config.test.ts
  packages/label-sync-core/tests/tools/ci/reporters.test.ts
  packages/label-sync-core/tests/tools/ci/sync.test.ts
Due: label-sync-core

ci, tests
  packages/label-sync-core/jest.config.js
  packages/label-sync-core/src/tools/bot/index.ts
  packages/label-sync-core/src/tools/ci/index.ts
  packages/label-sync-core/tests/handlers/siblings/sync.test.ts
  packages/label-sync-core/tests/tools/ci/reporters.test.ts
Due: label-sync-core

siblings, manifest
  packages/label-sync-core/package.json
  packages/label-sync-core/src/handlers/labels/index.ts
  packages/label-sync-core/src/handlers/labels/labels.ts
  packages/label-sync-core/src/handlers/labels/reporter.ts
  packages/label-sync-core/src/handlers/labels/sync.ts
  packages/label-sync-core/src/handlers/siblings/index.ts
  packages/label-sync-core/src/handlers/siblings/siblings.ts
  packages/label-sync-core/src/handlers/siblings/sync.ts
  packages/label-sync-core/src/index.ts
  packages/label-sync-core/src/manifest.ts
  packages/label-sync-core/tests/__fixtures__/github.ts
  packages/label-sync-core/tests/handlers/labels/labels.test.ts
  packages/label-sync-core/tests/handlers/labels/reporter.test.ts
  packages/label-sync-core/tests/handlers/labels/sync.test.ts
  packages/label-sync-core/tests/handlers/siblings/__snapshots__/sync.test.ts.snap
  packages/label-sync-core/tests/handlers/siblings/reporter.test.ts
  packages/label-sync-core/tests/handlers/siblings/siblings.test.ts
  packages/label-sync-core/tests/handlers/siblings/sync.test.ts
  packages/label-sync-core/tests/manifest.test.ts
  packages/label-sync-core/tests/tools/ci/reporter.test.ts
  packages/label-sync-core/tests/tools/ci/reporters.test.ts
  yarn.lock
Due: label-sync-core

coverage, v2
  packages/label-sync-core/src/index.ts
  packages/label-sync-core/src/tools/bot/index.ts
  packages/label-sync-core/src/tools/ci/index.ts
  packages/label-sync-core/src/tools/ci/reporter.ts
  packages/label-sync-core/src/tools/ci/sync.ts
  packages/label-sync-core/tests/manifest.test.ts
  packages/label-sync-core/tests/tools/bot.test.ts
  packages/label-sync-core/tests/tools/ci/__snapshots__/sync.test.ts.snap
  packages/label-sync-core/tests/tools/ci/config.test.ts
  packages/label-sync-core/tests/tools/ci/reporter.test.ts
  packages/label-sync-core/tests/tools/ci/sync.test.ts
Due: label-sync-core

fix tests
  packages/label-sync-core/tests/__fixtures__/bot/webhook.ts
  packages/label-sync-core/tests/__fixtures__/github.ts
  packages/label-sync-core/tests/__fixtures__/manifest.ts
  packages/label-sync-core/tests/handlers/labels/sync.test.ts
  packages/label-sync-core/tests/tools/ci/__snapshots__/sync.test.ts.snap
Due: label-sync-core

reporters
  packages/label-sync-core/src/handlers/labels/index.ts
  packages/label-sync-core/src/handlers/labels/reporter.ts
  packages/label-sync-core/src/handlers/siblings/index.ts
  packages/label-sync-core/src/handlers/siblings/reporter.ts
  packages/label-sync-core/src/tools/ci/index.ts
  packages/label-sync-core/src/tools/ci/reporter.ts
  packages/label-sync-core/tests/handlers/labels/__snapshots__/reporter.test.ts.snap
  packages/label-sync-core/tests/handlers/labels/labels.test.ts
  packages/label-sync-core/tests/handlers/labels/reporter.test.ts
  packages/label-sync-core/tests/handlers/siblings/__snapshots__/reporter.test.ts.snap
  packages/label-sync-core/tests/handlers/siblings/reporter.test.ts
  packages/label-sync-core/tests/tools/ci/__snapshots__/reporter.test.ts.snap
  packages/label-sync-core/tests/tools/ci/reporter.test.ts
Due: label-sync-core

update core exports
  packages/label-sync-core/src/index.ts
  packages/label-sync-core/src/tools/ci/index.ts
Due: label-sync-core

use creato, move tests out of source
  packages/create-label-sync/jest.config.js
  packages/create-label-sync/package.json
  packages/create-label-sync/src/index.ts
  packages/create-label-sync/src/loader.ts
  packages/create-label-sync/src/templates.ts
  packages/create-label-sync/src/tests/loader.test.ts
  packages/create-label-sync/tests/index.test.ts
  packages/create-label-sync/tsconfig.json
Due: create-label-sync

fix examples
  examples/with-typescript/src/index.ts
Due: none

Path conditions:
  label-sync-core: any of: packages/label-sync-core/
  label-sync: any of: packages/label-sync/
  create-label-sync: any of: packages/create-label-sync/
